$color-green: #5d8000;

.pg-campaign {
  // margin-top: 3.5rem;
  .campaign-img-contain {
    img{
      width: 100%;
      border-radius: .3125rem .3125rem 0 0;
    }
  }
  .campaign-title {
    background: #fff;
    font-size: 1.75rem;
    padding: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
    margin-bottom: -0.125rem;
  }
  .share-contain {
    padding: 0.5rem;
  }
  .nav-tabs {
    .nav-item {
      width: 50%;
    }
  }
  .progress {
    height: .625rem;
    border-radius: .625rem;
    background: #f9faf5;
    -webkit-box-shadow: inset 0 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px 1px rgba(0,0,0,.1);
    margin-bottom: .5625rem;
  }
  .progress-meter {
    background: $color-green;
    border-radius: .625rem;
  }
  .campaign-status {
    margin-bottom: 1.375rem;
    font-size: .875rem;
    color: #666;
  }
  .co-info {
    display: flex;
    .co-details {
      margin-left: 1.25rem;
      a {
        color: $color-green;
        text-decoration: none;
      }
    }
    .fa-envelope {
      color: $color-green;
    }
    .fa-tag {
      width: 0.75rem;
    }
    .teams-badge {
      margin-top: .625rem;
    }
  }
  .donations-column {
    .dropdown {
      background: #fff;
      .link-bar {
        display: inline-block;
        padding: .875rem 1rem;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
        border-radius: 4px;
      }
      a {
        color: $color-green;
        text-decoration: none;
        font-weight: 900;
      }
      a:hover {
        color: #314300;
      }
      .dropdown-item:hover, .dropdown-item:focus {
        background: transparent;
      }
    }
    .supporters-list {
      padding-bottom: 1rem;
    }
    .supporter-info {
      width: 100%;
      margin-left: 1.25rem;
      border-bottom: 1px dotted #ddd;
    }
    .supporter {
      display: flex;
      margin-top: 1rem;
    }
    .supporter-amount {
      font-weight: 900;
    }
    .supporter-time {
      color: #666;
      font-size: .875rem;
      margin-bottom: .8125rem;
    }
  }
}
