- class_name = ['baby', 'birthday', 'anniversary', 'memorial', 'pet'][idx%5]
= link_to campaign_path(campaign) do
  %span.img{:style => "opacity: 1; visibility: visible;", class: class_name}
  %span.name{:style => "opacity: 1; visibility: visible;"} Baby Shower
  %span.number{:style => "opacity: 1; visibility: visible;"} (4231 current plumfunds)