- campaign = Campaign.first 
.container
  %h2.home-title
    Choose from our popular categories or 
    %a{href: new_user_session_path}
    Sign Up Now!
  - if campaign 
    .row 
      - 12.times do |idx|
        .card-campaign.col-md-3
          = render partial: 'home/card', locals: {campaign: campaign, idx: idx}
