- if @donation.errors.any? 
  .alert.alert-danger 
    = @donation.errors.full_messages.join(", ")
= simple_form_for [@campaign, @donation], html: {id: 'donation-form'} do |f|
  = f.input :amount, required: true, input_html: {min: 0}
  = f.input :note, label: "Leave a comment"
  .form-group 
    %label(for="") Payment Method 
    = render partial: 'donations/stripe_card', locals: {f: f}
  .form-group.stripe-card-group
    %label(for="card-element") Credit Card 
    #card-element.form-control
    .card-errors.text-danger{style: 'display: none;'}
    = f.hidden_field :stripe_card_token, id: "stripe-card-token"
  .actions.text-right
    = f.submit "Donate", class: "btn btn-success btn-lg"