- payment_options = current_user.payment_methods.map{|pm| ["#{pm.stripe_card_last4} (Exp #{pm.stripe_exp_month}/#{pm.stripe_exp_year})", pm.stripe_card_id]}
- payment_options += [['add new', '']]
= f.input :stripe_card_id, as: :radio_buttons, collection: payment_options
