
.container.pg-campaign
  .row
    .col-md-8
      %h2 Thank you for funding #{@campaign.title}
      .card 
        .card-body 
          = render partial: 'form'      
    .col-md-4
      = render partial: 'campaigns/campaign_info', locals: {campaign: @campaign}
= content_for  :footer_js do
  :erb 
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');

    window.bindingDonation(stripe, 'donation-form', 'card-element')
    </script>