<div class="container login-container">
<h2 class="text-center">Log In </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions text-center">
    <%= f.submit "Log In", class: "btn btn-primary btn-lg" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
<div class="text-center">
<br/>
<br/>
<br/>
  <%= render "devise/shared/links" %>
</div>
</div>