.layer-white.right-card.mb-3
  %h2.goal
    %strong
      = number_to_currency(campaign.raised_total.to_i, {precision: 0})
    %span.small.font-weight-light
      of 
      = number_to_currency(campaign.goal_amount, {precision: 0})
      goal
  .progress{title: "#{campaign.percentage}%"}
    .progress-bar.progress-meter{:style => "width:#{campaign.percentage}%", title: "#{campaign.percentage}%"}
  .campaign-status Raised by 12 people in 6 months
  .campagin-action
    %a.btn.btn-block.dnt-yellow.mb-3{:href => new_campaign_donation_path(campaign)} Donate Now
    %a.btn.btn-block.fb-yellow{:href => "#"}
      %svg.svg-inline--fa.fa-facebook-square.fa-w-14{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "facebook-square", "data-prefix" => "fab", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z", :fill => "currentColor"}
      / <i class="fab fa-facebook-square"></i>
      %span  Share on Facebook
.right-card.pt-0
  .created-date Created #{campaign.created_at.strftime('%b %d, %Y')}
  .dotted-line.mt-2.mb-3
  .co-info.mb-4
    %img.avatar{:alt => "Avatar", :src => "https://images.gofundme.com/taMoKs_uyZOdzZY17G2lr7f7Jz0=/120x120/https://d2g8igdw686xgo.cloudfront.net/34961668_1557415873723136_r.jpeg"}/
    .co-details
      %a{:href => "#"}
        = campaign.user.name
      %svg.svg-inline--fa.fa-envelope.fa-w-16{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "envelope", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z", :fill => "currentColor"}
      / <i class="fas fa-envelope"></i>
      .pills-contain
        %a.d-block{:href => "#"}
          %span.fa--fixed-width
            %svg.svg-inline--fa.fa-tag.fa-w-16{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "tag", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z", :fill => "currentColor"}
            / <i class="fas fa-tag"></i>
          %span.small{:style => "color:#666;"} Emergencies
        %a.d-block{:href => "#"}
          %span.fa--fixed-width
            %svg.svg-inline--fa.fa-map-marker-alt.fa-w-12{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "map-marker-alt", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 384 512", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z", :fill => "currentColor"}
            / <i class="fas fa-map-marker-alt"></i>
          %span.small{:style => "color:#666;"}  FORT LAUDERDALE, FL
      .teams-badge
        %img.avatar{:alt => "Avatar", :src => "https://images.gofundme.com/taMoKs_uyZOdzZY17G2lr7f7Jz0=/120x120/https://d2g8igdw686xgo.cloudfront.net/34961668_1557415873723136_r.jpeg"}/
        %img.avatar{:alt => "Avatar", :src => "https://images.gofundme.com/taMoKs_uyZOdzZY17G2lr7f7Jz0=/120x120/https://d2g8igdw686xgo.cloudfront.net/34961668_1557415873723136_r.jpeg"}/
        .no-avatar.d-inline-block
          %strong ...
.donations-column
  .dropdown.show
    %a#dropdownMenuLink.dropdown-toggle.w-100.text-left.link-bar{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"} Recent Donations
  .right-card.pt-0.donations-control
    .supporters-list
      - campaign.donations.where(charged: true).order("created_at DESC").each do |dn|
        .supporter
          %img.avatar{:alt => "Avatar", :src => "https://images.gofundme.com/taMoKs_uyZOdzZY17G2lr7f7Jz0=/120x120/https://d2g8igdw686xgo.cloudfront.net/34961668_1557415873723136_r.jpeg"}/
          .supporter-info
            .supporter-amount
              = number_to_currency(dn.amount.to_i, {precision: 0})
            .supporter-name
              = dn.donator_name 
            .supporter-time
              = time_ago_in_words(dn.created_at)