.container.pg-campaign
  .row
    .col-md-8
      .campaign-img-contain
        %img{:src => "https://d2g8igdw686xgo.cloudfront.net/34961668_1543523325208151_r.jpeg"}/
      %h1.campaign-title
        = @campaign.title 
      .dotted-line.mr-3.ml-3
      .campaign-content.pr-3.pl-3.layer-white
        .row.share-contain
          .col-md-4
            %a.btn.btn-block.fb-blue{:href => "#"}
              %svg.svg-inline--fa.fa-facebook-square.fa-w-14{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "facebook-square", "data-prefix" => "fab", :focusable => "false", :role => "img", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z", :fill => "currentColor"}
              / <i class="fab fa-facebook-square"></i>
              %span  Share
          .col-md-4
            %a.btn.btn-block.tw-blue{:href => "#"}
              %svg.svg-inline--fa.fa-twitter.fa-w-16{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "twitter", "data-prefix" => "fab", :focusable => "false", :role => "img", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z", :fill => "currentColor"}
              / <i class="fab fa-twitter"></i>
              %span  Tweet
          .col-md-4
            %a.btn.btn-block{:href => "#"}
              %svg.svg-inline--fa.fa-chart-line.fa-w-16{"aria-hidden" => "true", "data-fa-i2svg" => "", "data-icon" => "chart-line", "data-prefix" => "fas", :focusable => "false", :role => "img", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z", :fill => "currentColor"}
              / <i class="fas fa-chart-line"></i>
              = succeed "\u{a0}shares" do
                %strong  450
        .dotted-line.mb-3
        .row
          .col-12
            .tab-card
              .card-header.tab-card-header
                %ul.nav.nav-tabs.card-header-tabs{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#story"} Story
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#updates"}
                      Updates 
                      %span.badge.badge-success 4
              .tab-content
                #story.tab-pane.fade.show.active.p-3
                  %h5.card-title Tab Card One
                  %div.card-text 
                    = simple_format @campaign.description
                  %a.btn.btn-primary{:href => "#"} Go somewhere
                #updates.tab-pane.fade.p-3
                  %h5.card-title Timeline
                  %div.card-text 
                    = image_tag "https://d2g8igdw686xgo.cloudfront.net/34961668_1557423337338202_r.jpeg", class: 'img-fluid'
                    %p 
                      Photos of the stock available on the island since December.
                    = image_tag "https://d2g8igdw686xgo.cloudfront.net/34961668_1557764796221081_r.jpeg", class: 'img-fluid'
                    %p 
                      Photos of the stock available on the island since June.
                  %a.btn.btn-primary{:href => "#"} Go somewhere
    .col-md-4
      = render partial: 'campaigns/campaign_info', locals: {campaign: @campaign}