/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// $color-green: #5d8000;

// @import "bootstrap";

@import "common";
@import "pages/campaign";
body {
  background: #f9faf5;
  padding-top: 70px;
}
.text-prime{
    color: #5d8000;
}
.navbar {
  .navbar-brand {
    color: #979797;
  }
}

.card-campaign {
  margin: 15px 0px;
  a {
      display: block;
      text-align: center;
      height: 220px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.5);
      background: #fff;
      color: #000;
      text-decoration: none;
      transition: all 0.3s;
  }   
   
  .img {
    opacity: 1;
    visibility: visible;    
    height: 110px;
    background: center center no-repeat;
    background-size: 105%;
    display: block;
    transition: all 0.3s;    
    &.baby{
      background-image: url(https://d61yqm8xqnu62.cloudfront.net/_assets/images/landing/type_baby.jpg);
    }
    &.birthday{
      background-image: url(https://d61yqm8xqnu62.cloudfront.net/_assets/images/landing/type_birthday.jpg);
    }
    &.anniversary{
      background-image: url(https://d61yqm8xqnu62.cloudfront.net/_assets/images/landing/type_anniversary.jpg);
    }
    &.memorial{
      background-image: url(https://d61yqm8xqnu62.cloudfront.net/_assets/images/landing/type_memorial.jpg);
    }
    &.pet{
      background-image: url(https://d61yqm8xqnu62.cloudfront.net/_assets/images/landing/type_pet.jpg);
    }
  }
  .name {
    display: block;
    margin-top: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;    
  }
  .number {
    color: #737373;
    font-size: 14px;
    padding: 0 10px;
    display: block;    
  }
}
.home-title{
  font-size: 44px;
  font-weight: 100;
  text-align: center;
  color: #000;
  padding: 0.5em 0;
  line-height: normal;  
  a{
    color: #000;
    text-decoration: underline;
  }
}
.login-container {
  max-width: 400px;
}