$color-green: #5d8000;

.layer-white {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
  border-radius: 4px;
}
.dotted-line {
  border-bottom: 1px dotted #ddd;
}
.fb-blue, .tw-blue, .dnt-yellow, .fb-yellow {
  color: #fff;
}
.fb-blue:hover, .tw-blue:hover, .dnt-yellow:hover, .fb-yellow:hover {
  color: #fff;
}
.fb-blue {
  background: #3b579d;
}
.fb-blue:hover {
    background: #4261b0;
}
.tw-blue {
  background: #55acee;
}
.tw-blue:hover {
  background: #6cb7f0;
}
.fb-yellow, .dnt-yellow {
  background: #f7b231;
}
.fb-yellow:hover, .dnt-yellow:hover {
  background: #f7b231;
  background: #ec9d09;
}
.see-more {
  background: #fff;
  color: $color-green;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
  .fa-plus {
    font-size: .75rem;
  }
}
.see-more:hover {
  color: $color-green;
  background: #f5f5f5;
}
.fa--fixed-width {
  display: inline-block;
  width: 1.25rem;
}
h2.goal {
  font-size: 1.75rem;
}
.right-card {
  padding: 1.5rem 1rem;
}
.created-date {
  font-size: .875rem;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.no-avatar {
  vertical-align: middle;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  border: .0625rem solid #ddd;
  strong {
    line-height: 3rem;
  }
}
