<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="<%= root_path %>" class="navbar-brand">
          Just 
          <span class="text-prime"> One </span>
          Bill
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">           
            <li class="nav-item">
              <a class="nav-link" href="#start-a-fund">Start a Fund</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#make-your-own">Make Your Own</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#how-it-works">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#myblog">Blog</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <% if current_user %>
                <a class="nav-link" href="<%= destroy_user_session_path %>" target="_blank"><%=current_user.name%>, Logout</a>
              <% else %>
                <a class="nav-link" href="<%= new_user_session_path %>" target="_blank">Login</a>
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </div>